@charset "UTF-8";

body {
    background-color: blueviolet;
    font: normal 15pt Arial;
    color: white;

}

header {
    text-align: center;

}

section {
    background: purple;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.375);

}

footer {

    text-align: center;
    font-style: italic;
}
